@charset "UTF-8";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

div {
  border-radius: 10%;
  transition: 0.3s;
}

button {
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}

li {
  text-decoration: none;
  list-style-type: none;
  border-radius: 10px;
}

ul {
  border-radius: 5px;
}

@keyframes wave {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 25px;
    height: 35px;
  }
  50% {
    width: 50px;
    height: 35px;
  }
  75% {
    width: 75px;
    height: 35px;
  }
}
.fix_title .img, .body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix_title .img > div:hover, .personal_index > div > div:first-child img, ul {
  box-shadow: 0px 0px 20px #0f0f0f;
}

.fix_title .img > div div:last-child button, .personal_index > div > div:nth-child(2) > div button {
  position: relative;
  background-color: rgb(248, 112, 237);
  border: 1px solid #f7acf3;
  color: aliceblue;
  width: 100px;
  height: 35px;
}
.fix_title .img > div div:last-child button:before, .personal_index > div > div:nth-child(2) > div button:before {
  content: "";
  background-color: rgba(247, 247, 247, 0);
  width: 100px;
  height: 35px;
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 0px;
  left: 0px;
}
.fix_title .img > div div:last-child button:hover::before, .personal_index > div > div:nth-child(2) > div button:hover::before {
  background-color: rgba(247, 247, 247, 0.4);
  animation: wave 0.2s;
}

.body {
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
  background: linear-gradient(-45deg, #f7acf3, #6000fa);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.personal_index {
  margin-top: 100px;
  /* -45deg 也等於 top left 的效果 */
  position: relative;
}
.personal_index > div {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  transition: 0.5s;
}
.personal_index > div > div:first-child {
  position: absolute;
  top: -50px;
}
.personal_index > div > div:first-child img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 10;
}
.personal_index > div > div:nth-child(2) {
  overflow: hidden;
  transition: 1s;
  transform: translateY(125px);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}
.personal_index > div > div:nth-child(2) > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}
.personal_index > div > div:nth-child(2) > div span {
  color: gray;
  font-size: small;
}
.personal_index > div > div:nth-child(2) > div button {
  position: relative;
}
.personal_index > div:hover {
  margin-bottom: 100px;
  z-index: 11;
  height: 450px;
  cursor: pointer;
}
.personal_index > div:hover > div:nth-child(2) {
  transform: translateY(0px) !important;
}
.personal_index > div:hover div:first-child img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}
.personal_index > div:hover button {
  cursor: pointer;
}

.fix_title {
  position: fixed;
  top: 0px;
  background-color: azure;
  color: beige;
  border-radius: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  z-index: 20;
}
.fix_title::before {
  content: "";
  background-image: url("./static/magnifier2.png");
  width: 5%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  margin-left: 3%;
}
.fix_title input {
  width: 40%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-left: 6%;
  border-radius: 20px;
}
.fix_title .img {
  background-image: url("./static/user.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 10%;
  position: relative;
}
.fix_title .img:hover {
  cursor: pointer;
}
.fix_title .img > div {
  background-color: #f7eeee;
  position: absolute;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  min-height: 300px;
  top: 100%;
  right: 50%;
  margin: 0px;
  color: #0f0f0f;
}
.fix_title .img > div div {
  width: inherit;
  line-height: 200%;
}
.fix_title .img > div div:not(:last-child):hover {
  border-radius: 10px !important;
  background-color: #ffffff;
  cursor: pointer;
}
.fix_title .img > div div:last-child {
  position: absolute;
  bottom: 0px;
  text-align: center;
}
.fix_title > ul {
  margin: 0px;
  width: 35%;
  height: 300px;
  background-color: rgba(247, 247, 247, 0.5);
  transition: 1s;
  position: fixed;
  top: 10%;
  left: 5%;
}
.fix_title li {
  line-height: 30px;
}
.fix_title li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #0f0f0f;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
